{
  "bot": {
    "token": "required",
    "clientId": "required",
    "guildId": "required"
  },
  "colors": {
    "success": "0x22bb33",
    "error": "0xbb2124",
    "wait": "0xf0ad4e"
  },
  "mongodb": {
    "url": "mongodb+srv://username:password@server/database?retryWrites=true&w=majority"
  },
  "footer": {
    "icon": "https://avatars.githubusercontent.com/u/83163073",
    "text": "https://github.com/ZynerOrg/xyter"
  },
  "disable": {
    "redeem": false
  },
  "debug": false
}
